# Environment
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nestify

# Application
APP_PORT=3000
APP_PREFIX=api

# Logging
LOG_LEVEL=debug
