// color
$COMMON_WHITE: #fff;
$COMMON_BLACK: #000;
$COMMON_RED: #ad060d;
$COMMON_BLUE: #107cbc;
$COMMON_GREY_3: #333;
$COMMON_GREY_5: #555;
$COMMON_GREY_6: #666;
$COMMON_GREEN: #55a934;

$HEADER_ORDER_BACKGROUND: #e5aa06;
$WECHAT_COLOR: #55b80e;
$WEIBO_COLOR: #e6162d;
$FOOTER_BANNER_LINK_BACKGROUND: #3f454b; // 友情链接背景颜色
$FOOTER_BANNER_COLOR: #91979d; // 页脚横幅字体通色
$FOOTER_BANNER_BACKGROUND: #272b2f; // 页脚横幅背景色


// font-size
$TITLE_SIZE: 28px;
$HEADER_TOP_SIZE: 12px;