@import './define.scss';

html,
body {
    width: 100%;
    min-width: 1200px;
    background: transparent;
    position: relative;
}

.hdz-home-body {
    .hdz-top-content {
        width: 100%;
        box-shadow: 0 0 0 2px #FFF;

        .main-content {
            width: 100%;
            height: 570px;
            overflow: hidden;
            display: flex;

            .main-info {
                width: calc(100% - 270px);
                background-color: #FFF;
                padding-left: 10px;
                box-sizing: border-box;

                >div {
                    width: 100%;
                }

                .main-top {
                    height: 240px;
                    display: flex;

                }

                .main-middle {
                    height: 200px;

                    .news-tab {
                        position: relative;
                        display: flex;
                        border-bottom: 1px solid #CCC;
                        padding-right: 30px;
                        margin: 10px 5px 0 0;

                        a {
                            height: 30px;
                            line-height: 1.75;
                            display: flex;
                            padding: 0 20px;
                            color: #333;
                            transform: translateY(1px);
                            border: 1px solid transparent;
                            border-top: 3px solid transparent;
                            border-bottom-color: transparent;
                            font-size: 14px;

                            &.active {
                                border-color: #CCC;
                                border-top-color: #107cbc;
                                border-bottom-color: #FFF;
                            }

                            &:last-child {
                                position: absolute;
                                right: 0;
                                top: 4px;
                                font-size: 12px;
                                color: #999;
                                padding: 0 5px 0 0;
                            }
                        }
                    }

                    .senic-show {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;

                        a {
                            display: flex;
                            position: relative;
                            width: 25%;
                            height: 145px;
                            color: #FFF;
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            margin-right: 10px;
                            overflow: hidden;

                            p {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 30px;
                                line-height: 30px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                text-align: center;
                                background-color: rgba(0, 0, 0, .5)
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .main-bottom {
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    a {
                        display: flex;
                        height: 100px;
                        width: 300px;

                        background-image: url('/static/tour-show.png');

                        &:nth-child(1) {
                            background-position: 0 0px;
                        }

                        &:nth-child(2) {
                            background-position: 0 -100px;
                        }

                        &:nth-child(3) {
                            background-position: 0 -200px;
                        }
                    }
                }

            }
        }
    }

    .hdz-middle-content {
        .middle-banner {
            width: 100%;
            height: 145px;
            background-image: url('/static/middle_banner.png');
            background-repeat: no-repeat;
            background-position: center;
        }

        .images-swiper-container {
            width: 100%;
            height: 180px;
        }
    }

    .hdz-bottom-content {
        .senic-intro {
            width: 100%;
            height: 370px;
            background-image: url('/static/senic_intro_bg.jpg');
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .intro-content {
                height: 100%;
                width: 50%;
                flex: 1 1;
                padding: 50px;

                p {
                    color: #FFF;

                    &:nth-child(1) {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    &:nth-child(2) {
                        margin: 25px 0 30px;

                        .divider-horizental {
                            width: 56px;
                            height: 2px;
                            background-color: #FFF;
                        }
                    }

                    &:nth-child(3) {
                        width: 440px;
                        font-size: 14px;
                        line-height: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }

                    &:nth-child(4) {
                        margin-top: 20px;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 155px;
                            height: 45px;
                            color: #FFF;
                            border: 1px solid #FFF;
                            border-radius: 5px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .intro-more {
                height: 100%;
                width: 50%;
                flex: 1 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                padding-right: 80px;

                a {
                    display: flex;
                    width: 215px;
                    height: 80px;
                    background-image: url('/static/senic_intro.png');
                    margin-bottom: 10px;

                    &:nth-child(1) {
                        background-position: 0 0;
                    }

                    &:nth-child(2) {
                        background-position: 0 -95px;
                    }

                    &:nth-child(3) {
                        background-position: 0 -190px;
                    }
                }
            }
        }

        .category {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                display: flex;
                width: 180px;
                height: 330px;
                background-image: url('/static/category_guide.png');

                &:nth-child(1) {
                    background-position: 0 0;
                }

                &:nth-child(2) {
                    background-position: -203px 0;
                }

                &:nth-child(3) {
                    background-position: -408px 0;
                }

                &:nth-child(4) {
                    background-position: -612px 0;
                }

                &:nth-child(5) {
                    background-position: -816px 0;
                }

                &:nth-child(6) {
                    background-position: -1020px 0;
                }
            }
        }
    }

}