@import './define.scss';

.hdz-home-body {
    // background: #FFF;

    .introduction-content {
        background: #FFF;
        display: flex;

        .guide-navi {
            width: 340px;
            padding: 0 20px;
            box-sizing: border-box;
        }

        .intro-main {
            width: calc(100% - 340px);
            padding-right: 20px;
            box-sizing: border-box;

            .main-title {
                position: relative;
                width: 100%;
                height: 40px;
                background: linear-gradient(to bottom, #FFF, #e5eef5);
                border-bottom: 1px solid #b2cfdf;

                span {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    height: 40px;
                    padding: 0 25px;
                    background: #FFF;
                    border: 1px solid #b2cfdf;
                    border-bottom: none;
                    color: $COMMON_BLUE;
                }
            }

            .main-content {
                width: 100%;
                height: auto;
                line-height: 2;
                padding: 20px 20px 100px;

                >img {
                    display: block;
                    width: 640px !important;
                    margin: 35px auto !important;
                }

                >p {
                    text-indent: 2em;
                    text-align: justify;
                    font-size: 15px;
                    color: #333;
                }
            }
        }
    }
}


.videoDetail-content {
    video {
        width: 100%;
        height: 500px;
        margin-top: 40px;
        background: #000;
    }
}


.imageDetail-content {
    img {
        width: 100%;
        height: 400px;
        margin-top: 40px;
        background: #000;
    }
}

.announcement-view {
    width: 100%;

    .announcement-big {
        width: 100%;
        height: 181px;
        padding: 20px 0 30px;
        box-sizing: border-box;
        border-bottom: 1px dashed #b2cfdf;

        .announcement-big-content {
            p {
                &:nth-child(1) {
                    font-size: 22px;
                    color: $COMMON_BLUE;
                }

                &:nth-child(2) {
                    font-size: 14px;
                    color: #999;
                }

                &:nth-child(3) {
                    height: 70px;
                    line-height: 1.6;
                    font-size: 14px;
                    color: #555;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin-bottom: 20px;
                }
            }
        }


    }

    .announcement-list {
        padding: 20px 0;

        >p {
            height: 35px;
            font-size: 14px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABRJREFUCNdjEGDQYAhh2AXEGgwCAAzMAdMzwuI2AAAAAElFTkSuQmCC');
            background-position: 4px 15px;
            background-repeat: no-repeat;
            padding-left: 20px;
            display: flex;
            overflow: hidden;

            >a {
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                line-height: 35px;
                flex: 6 1;
            }

            >span {
                display: flex;
                width: 75px;
                justify-content: flex-end;
                align-items: center;
                flex: 1 1;
            }
        }
    }
}


.concact-view {
    padding-top: 20px;

    img {
        width: 100%;
        border: 9px solid #FFF;
        outline: 1px solid #b3cddc;
        margin: 30px auto;
    }

    .concat-info {
        p {
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;

            &:nth-child(1) {
                font-size: 30px;
                font-weight: bold;
                color: $COMMON_BLUE;
                margin-bottom: 20px;
            }

            &:nth-child(2) {
                i {
                    font-size: 24px;
                    color: #0a9fe1;
                    margin-right: 10px;
                }
            }

            &:nth-child(3) {
                i {
                    font-size: 24px;
                    color: #e4a905;
                    margin-right: 10px;
                }
            }

            &:nth-child(4) {
                i {
                    font-size: 24px;
                    color: #419f25;
                    margin-right: 10px;
                }
            }

            &:nth-child(5) {
                i {
                    font-size: 24px;
                    color: #10bcae;
                    margin-right: 10px;
                }
            }
        }
    }

    .concact-address {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        div {
            width: 50%;
            margin-bottom: 35px;
        }
    }
}

.message-view {
    padding: 40px;

    .send-message {
        a {
            width: 290px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $COMMON_BLUE;
            color: #FFF;
            border-radius: 4px;
        }
    }

    .message-list {
        .message-item-container {
            border-bottom: 1px dashed #b2cfdf;
            padding: 40px 0;

            .message-item {
                p {
                    padding-left: 50px;
                    font-size: 12px;
                    color: #333;

                    &:first-child {
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAbCAMAAABcI88jAAAAeFBMVEUAAABVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTRVqTSbgfBIAAAAJ3RSTlMAUIDf8AT7oQ/JFQr167y0a18y4zkczcGMWSgh2KuWeGJNP86pd1WuJnpXAAAA70lEQVQoz3XQ2ZKDIBCF4WMQxX2Ju9ln6fd/wxEYAibku6LqV+hqSOl1yEmL2KXF3k01K87c+kOvRqff6V0MgzPy6Eyeyeds8re6LLCutMk5tCNtyoMVk9RCi8jrDo38foVQuVC7CjWbuzmK0y1XtKmhJaZG2UTEeqBWgzLlSEapvkw4REgewULSrH5/UyImqQLUaY+lD1IKufWJ9pJ+NVNA6s65ExvemlpAC/RTbbtmSKfIzuDkMeua+lCqqN2cPAg0tHPiNp/kDi9uLRb860PWQ6oLMqoVT5ybw6NpKlkXfJKNWxb4SHyZ7JcOCaQ/rNpEbUV9mqAAAAAASUVORK5CYII=');
                        background-repeat: no-repeat;
                        background-position: 5px 5px;
                    }

                    &:last-child {
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAaCAMAAACEqFxyAAAAgVBMVEUAAAAQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLwQfLxuXoOGAAAAKnRSTlMAy9kXBvP37oDdZ14S5Sj60aJYQj0C4sCfmk0yIB3os6uRh2JKL7qWcnBWrm4+AAAA40lEQVQoz2XRR5aDMBBF0VIGSeRswNkdav8LNAJs0hvp3IEGv2CqeNZUSlo/YV1LRGLy3CSCvBY9yYZlt8vllrFGnj6aR4+Q4BgJdZRPyn2vFTinWs/nI//5tsRvpfX/R6baw1Wepk57ZHTNlGEPwO+BxU32fOeQIAm3HMZYQ4QV2zKLMQIfq0Kt9VzE6EMWVNCs+RfiIANXJxeVPXwzC6eL2lcqJlRpyD/KqDDMI0oRjxnxMzsnbjrdcd5p97xOPC+y+97KPZfFwBoPuQNdj5y4uY/sBldHVgMHRw4Gfoi9CgNvByg5lOo2NwEAAAAASUVORK5CYII=');
                        background-repeat: no-repeat;
                        background-position: 8px 5px;
                    }
                }
            }
        }
    }
}

.suggestion-view {
    padding: 20px 90px;

    .code {
        display: flex;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }
}