@import './define.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

a {
    color: #333;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#nprogress {
    position: fixed;
    top: 0;
    z-index: 999999;
}

.fs-12 {
    font-size: 12px
}

.fs-14 {
    font-size: 14px
}

.fs-16 {
    font-size: 16px
}

.fs-18 {
    font-size: 18px
}

.fs-20 {
    font-size: 20px
}

.fs-24 {
    font-size: 24px
}

.fs-26 {
    font-size: 26px
}

.fs-28 {
    font-size: 28px
}

.fs-30 {
    font-size: 30px
}

.fs-32 {
    font-size: 32px
}

.fs-36 {
    font-size: 36px
}

.fs-40 {
    font-size: 40px
}

.fs-60 {
    font-size: 60px
}

.fs-70 {
    font-size: 70px
}

.fs-72 {
    font-size: 72px
}

.fw-600 {
    font-weight: 600
}

.f-song {
    font-family: "宋体";
}

.f-yahei {
    font-family: "microsoft yahei";
}

.h-22 {
    height: 22px
}

.d-i {
    display: line
}

.d-b {
    display: block
}

.d-ib {
    display: inline-block
}

.d-f {
    display: -ms-flexbox;
    display: flex
}

.bg-flex {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bd-none {
    border: none !important;
}

.bd-trans {
    border-color: transparent !important;
}

.transition {
    transition: all .15s ease-in-out
}

.transition:active,
.transition:focus,
.transition:hover,
.transition:visited {
    transition: all .15s ease-in-out
}

.click-animation {
    transform: scale(1)
}

.click-animation:active {
    transform: scale(.9)
}

.w-100vw {
    width: 100vw
}

.w-22 {
    width: 22px
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-hide-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.txt-hide-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.txt-hide-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.txt-hide-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.txt-hide-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.weather svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden
}

.divider-vertical {
    display: inline-block;
    width: 1px;
    background-color: #EEE
}

.divider-horizental {
    display: inline-block;
    height: 1px;
    background-color: #EEE
}

.title-underline {
    display: inline-block;
    height: 2px;
    width: 5vw;
    background-color: #924a49;
    border-right: 40px solid #e6e6e6;
}

.hdz-home-body,
.hdz-header-body,
.hdz-footer-body {
    position: relative;
    z-index: 2;
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.hdz-home-body {
    background-color: transparent;
    padding: 2px;
    // box-shadow: 0 0 2px $COMMON_BLUE;
}
.hdz-blank-div {
    height: 25px;
    width: 100%;
    background-color: transparent;
}