.tour-guide {
    width: 270px;

    .guide {
        width: 100%;
        height: 360px;
        background-color: #FFF;
        background-image: url('/static/guide_bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;

        .img-blank {
            width: 100%;
            height: 160px;
        }

        .guide-more {
            display: flex;
            width: 90px;
            height: 20px;
            position: absolute;
            bottom: 15px;
            right: 15px;
        }

        >div {
            padding: 5px 15px;
            line-height: 1.5;
            box-sizing: border-box;

            &:nth-child(2) {

                color: #FFF;
            }

            &:nth-child(3) {
                font-size: 15px;
                color: #FFF;
            }
        }
    }

    .phone-call {
        background-color: #FFF;
        background-image: url('/static/24hours_hotline.png');
        background-repeat: no-repeat;
        background-position: 5px 15px;

        >div {
            padding: 10px 0 10px 55px;

            &:first-child {
                border-bottom: 1px solid #CCC;
                margin-bottom: 10px;

                p {
                    line-height: 1.35;

                    &:last-child {
                        font-size: 26px;
                        color: #0a9fe1;
                        font-weight: bold;
                    }
                }
            }

            &:last-child {
                p {
                    font-size: 14px;
                    line-height: 2;
                }
            }
        }
    }
}