@import '../../styles/define.scss';

.bread-crumbs {
    height: 45px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #bfdced, #fff);

    p {
        height: 16px;
        padding-left: 5px;
        border-left: 3px solid $COMMON_GREEN;
        font-size: 14px;
        display: flex;
        align-items: center;
        overflow: hidden;

        span:not(:first-child):not(:last-child):after {
            content: ">";
            display: inline-flex;
            margin: 0 4px;
            color: #333;
        }
    }
}