.main-video {
    p {
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: #107cbc;
        font-size: 16px;
    }

    video {
        width: 235px;
        height: 145px;
        background: #000
    }

    a {
        margin-top: 10px;
        width: 235px;
        height: 45px;
        display: flex;
        background-image: url('/static/more-video.png');
        background-size: 100%;
    }
}